{% extends "base_panel.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-start flex-wrap gap-3 mb-4">
  <div>
    <h1 class="h4 mb-1 d-flex align-items-center gap-2">
      <span class="badge bg-danger-subtle text-danger border border-danger rounded-pill fw-normal px-2 py-1">
        Usuń Parafię
      </span>
    </h1>
    <div class="text-muted small">
      Czy na pewno chcesz usunąć Parfię
      <strong>{{ object.nazwa }}</strong>
    </div>
  </div>

  <div class="d-flex gap-2">
    <a href="{% url 'slownik_parafia_szczegoly' object.pk %}" class="btn btn-outline-secondary btn-sm">
      Anuluj
    </a>
  </div>
</div>

<form method="post" class="mb-4">
  {% csrf_token %}

  <div class="card shadow-sm border-0">
    <div class="card-body p-4">
      <p class="small mb-4">
        Tego działania nie można cofnąć.
      </p>

      <div class="d-flex gap-2">
        <button class="btn btn-danger">Tak, usuń</button>
        <a href="{% url 'slownik_parafia_szczegoly' object.pk %}" class="btn btn-outline-secondary">
          Nie usuwaj
        </a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
