{% extends "base_panel.html" %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-header fw-semibold text-danger">
    Potwierdź usunięcie
  </div>
  <div class="card-body small">
    <p class="mb-3">
      Czy na pewno chcesz usunąć:
      <br>
      <strong>{{ object }}</strong>?
      <br>
      <span class="text-muted">Tej operacji nie można cofnąć.</span>
    </p>

    <form method="post">
      {% csrf_token %}
      <div class="d-flex justify-content-between">
        <a href="javascript:history.back();" class="btn btn-light btn-sm">
          Anuluj
        </a>
        <button class="btn btn-danger btn-sm">
          Usuń
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
