{% extends "base_panel.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-start flex-wrap gap-3 mb-4">
  <div>
    <h1 class="h4 mb-1 d-flex align-items-center gap-2">
      <span class="badge bg-primary-subtle text-primary border border-primary rounded-pill fw-normal px-2 py-1">
        {% if object %}Edycja{% else %}Nowa{% endif %}
      </span>
      <span class="fw-semibold">
        Osoba
      </span>
    </h1>
    <div class="text-muted small">
      Dane osobowe, adresowe i kontaktowe wiernego.
    </div>
  </div>

  <div class="d-flex gap-2">
    <a href="{% url 'osoba_lista' %}" class="btn btn-outline-secondary btn-sm">
      Powrót
    </a>
  </div>
</div>

<form id="osoba-form" method="post" novalidate class="mb-4">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger small mb-4">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <div class="card shadow-sm border-0">
    <div class="card-body p-4">

      <!-- SEKCJA: dane osobowe -->
      <div class="mb-4">
        <div class="fw-semibold mb-2">Dane osobowe</div>
        <div class="row g-3 mb-3">
         <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nazwisko.label }}
          </label>
          {{ form.nazwisko }}
          {% if form.nazwisko.errors %}
            <div class="text-danger small">{{ form.nazwisko.errors }}</div>
          {% endif %}
        </div>

        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.imie_pierwsze.label }}
          </label>
          {{ form.imie_pierwsze }}
          {% if form.imie_pierwsze.errors %}
            <div class="text-danger small">{{ form.imie_pierwsze.errors }}</div>
          {% endif %}
        </div>

         <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.imie_drugie.label }}
          </label>
          {{ form.imie_drugie }}
          {% if form.imie_drugie.errors %}
            <div class="text-danger small">{{ form.imie_drugie.errors }}</div>
          {% endif %}
        </div>
        </div>

        <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.imie_bierzmowanie.label }}
          </label>
          {{ form.imie_bierzmowanie}}
          {% if form.imie_bierzmowania.errors %}
            <div class="text-danger small">{{ form.imie_bierzmowanie.errors }}</div>
          {% else %}
            <div class="form-text small">Imię przyjęte przy bierzmowaniu (jeśli dotyczy).</div>
          {% endif %}
        </div>
      </div>
        
       <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nazwisko_rodowe.label }}
          </label>
          {{ form.nazwisko_rodowe }}
          {% if form.nazwisko_rodowe.errors %}
            <div class="text-danger small">{{ form.nazwisko_rodowe.errors }}</div>
          {% endif %}
        </div>

        </div>

        <div class="row g-3 mb-3">
          <div class="col-md-4">
          <label class="form-label">{{ form.data_urodzenia.label }}</label>
          {{ form.data_urodzenia }}
          {% if form.data_urodzenia.errors %}
            <div class="text-danger small">{{ form.data_urodzenia.errors }}</div>
          {% endif %}
        </div>

         <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.miejsce_urodzenia.label }}
          </label>
          {{ form.miejsce_urodzenia }}
          {% if form.miejsce_urodzenia.errors %}
            <div class="text-danger small">{{ form.miejsce_urodzenia.errors }}</div>
          {% endif %}
        </div>

         <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.data_zgonu.label }}
          </label>
          {{ form.data_zgonu }}
          {% if form.data_zgonu.errors %}
            <div class="text-danger small">{{ form.data_zgonu.errors }}</div>
          {% endif %}
        </div>
      </div>
  </div>
            <!--Rodzice-->
      <div class="mb-4">
        <div class="fw-semibold mb-2">Rodzice</div>

        <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.imie_ojca.label }}
          </label>
          {{ form.imie_ojca }}
          {% if form.imie_ojca.errors %}
            <div class="text-danger small">{{ form.imie_ojca.errors }}</div>
          {% endif %}
        </div>

       <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nazwisko_ojca.label }}
          </label>
          {{ form.nazwisko_ojca }}
          {% if form.nazwisko_ojca.errors %}
            <div class="text-danger small">{{ form.nazwisko_ojca.errors }}</div>
          {% endif %}
        </div>
      </div>



      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.imie_matki.label }}
          </label>
          {{ form.imie_matki }}
          {% if form.imie_matki.errors %}
            <div class="text-danger small">{{ form.imie_matki.errors }}</div>
          {% endif %}
        </div>

        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nazwisko_matki.label }}
          </label>
          {{ form.nazwisko_matki }}
          {% if form.nazwisko_matki.errors %}
            <div class="text-danger small">{{ form.nazwisko_matki.errors }}</div>
          {% endif %}
        </div>


        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nazwisko_matki_rodowe.label }}
          </label>
          {{ form.nazwisko_matki_rodowe}}
          {% if form.nazwisko_matki_rodowe.errors %}
            <div class="text-danger small">{{ form.nazwisko_matki_rodowe.errors }}</div>
          {% endif %}
        </div>
      </div>
    </div>

      <!-- SEKCJA: adres -->

      <hr class="text-muted my-4">
      <div class="mb-4">
        <div class="fw-semibold mb-2">Adres zamieszkania</div>

         <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.ulica.label }}
          </label>
          {{ form.ulica }}
          {% if form.ulica.errors %}
            <div class="text-danger small">{{ form.ulica.errors }}</div>
          {% endif %}
        </div>

       <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nr_domu.label }}
          </label>
          {{ form.nr_domu }}
          {% if form.nr_domu.errors %}
            <div class="text-danger small">{{ form.nr_domu.errors }}</div>
          {% endif %}
        </div>

        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.nr_mieszkania.label }}
          </label>
          {{ form.nr_mieszkania }}
          {% if form.nr_mieszkania.errors %}
            <div class="text-danger small">{{ form.nr_mieszkania.errors }}</div>
          {% endif %}
        </div>
      </div>

       <div class="row g-3 mb-3">
      <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.miejscowosc.label }}
          </label>
          {{ form.miejscowosc }}
          {% if form.miejscowosc.errors %}
            <div class="text-danger small">{{ form.miejscowosc.errors }}</div>
          {% endif %}
        </div>

        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.kod_pocztowy.label }}
          </label>
          {{ form.kod_pocztowy }}
          {% if form.kod_pocztowy.errors %}
            <div class="text-danger small">{{ form.kod_pocztowy.errors }}</div>
          {% endif %}
        </div>

        

        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.poczta.label }}
          </label>
          {{ form.poczta }}
          {% if form.poczta.errors %}
            <div class="text-danger small">{{ form.poczta.errors }}</div>
          {% endif %}
        </div>
      </div>
    </div>
      <hr class="text-muted my-4">

      <!-- SEKCJA: kontakt i wyznanie -->

      
       <div class="mb-4">
        <div class="fw-semibold mb-2">Kontakt i wyznanie</div>

        <div class="row g-3 mb-3">
       <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.telefon.label }}
          </label>
          {{ form.telefon }}
          {% if form.telefon.errors %}
            <div class="text-danger small">{{ form.telefon.errors }}</div>
          {% endif %}
        </div>

         <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.email.label }}
          </label>
          {{ form.email }}
          {% if form.email.errors %}
            <div class="text-danger small">{{ form.email.errors }}</div>
          {% endif %}
        </div>
      </div>

      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label class="form-label small text-muted fw-semibold">
            {{ form.wyznanie.label }}
          </label>
          {{ form.wyznanie }}
          {% if form.wyznanie.errors %}
            <div class="text-danger small">{{ form.wyznanie.errors }}</div>
          {% endif %}
        </div>
      </div>
    </div>

      <hr class="text-muted my-4">

      <!-- SEKCJA: uwagi -->
      <div class="mb-2">
        <div class="fw-semibold mb-2">Uwagi wewnętrzne</div>

        <div class="mb-3">
          <label class="form-label small text-muted fw-semibold">
            {{ form.uwagi.label }}
          </label>
          {{ form.uwagi }}
          {% if form.uwagi.errors %}
            <div class="text-danger small">{{ form.uwagi.errors }}</div>
          {% else %}
            <div class="form-text small">Uwagi dla kancelarii (np. notatki duszpasterskie).</div>
          {% endif %}
        </div>
      </div>

    </div> <!-- /card-body -->
  </div>   <!-- /card -->

  <div class="mt-4 d-flex gap-2">
    <button class="btn btn-primary">Zapisz</button>
    <a href="{% url 'osoba_lista' %}" class="btn btn-outline-secondary">Anuluj</a>
  </div>
</form>
{% endblock %}
