{% extends "base_print.html" %}
{% block title %}Świadectwo Chrztu – {{ chrzest.rok }}/{{ chrzest.akt_nr }}{% endblock %}

{% block content %}
<style>
  @page { size: A4; margin: 15mm; }

  .doc {
    max-width: 720px;
    margin: 0 auto;
    color: #063267;
    font-family: "Times New Roman", serif;
    font-size: 11pt;
  }

  h1 { text-align: center; margin: 0.2cm 0 0.1cm; }
  .subtitle { text-align: center; margin-bottom: 0.5cm; }

  .bookref { text-align: right; margin-right: 4cm; }

  .seal {
    float: left;
    width: 5cm; height: 1.7cm;
    border: 1px dashed #acabab;
    color: #c3c4c5;
    text-align: center;
    line-height: 1.7cm;
    margin-right: 0.8cm;
    font-size: 11pt;
  }

  /* Dane automatyczne: ten sam font i rozmiar co tekst, tylko pogrubione */
  .user-data { font-weight: 705; color: #000; }

  .tiny { font-size: 10pt; color: #575757; margin: 2px 0 8px; }
  .field-label { font-weight: 700; white-space: nowrap; }
  .field-label::after { content: ": "; }   /* dwukropek dokładany z CSS */
  .user-data { font-weight: 700; color: #000; }  
  table.data-table { width: 100%; border-collapse: collapse; }
  table.data-table td { vertical-align: top; padding: 6px 4px; }

  /* układ w wierszu: lewa wartość + prawa sekcja „Wyznanie” */
  .row-split {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;           /* mała przerwa między lewą a prawą częścią */
  }
  .row-split .left {
    min-width: 40%;     /* żeby lewa część nie zawijała za szybko */
  }
  .row-split .right {     /* prawa część (wyznanie) trzyma się prawej */
    white-space: nowrap;
  }

  /* dwukropek dokładany CSS-em – bez spacji po nim */
  .field-label::after { content: ": "; }
 /* --- Stopka (też niebieska) --- */
  .footer-block { margin-top: 2cm; }
  .footer-left { float: left; width: 40%; }
  .footer-right { float: right; width: 55%; text-align: center; }
  .footer-clear { clear: both; }
  
  .stamp {
    font-size: 10pt;
    color: #aaa;
    border: 1px dashed #aaa;
    width: 3.5cm;
    height: 3.5cm;
    line-height: 3.5cm;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .footer-left .la { font-size: 10pt; color: #555; }
  .footer-right .la { font-size: 10pt; color: #555; }
  .signature {
    height: 1.5cm;
    border-bottom: 1px dotted #000;
    margin-bottom: 2px;
  }


  
  .block { margin-top: 1cm; }
</style>

<div class="doc">
  <div class="seal" style="line-height: 1.4; padding-top: 0.4cm;">
    Pieczęć parafii<br>
    <span style="font-size: 9pt;">Sigillum paroeciae / Parish seal</span>
  </div>
  <h1>ŚWIADECTWO CHRZTU</h1>
  <div class="subtitle">Testimonium baptismi / Certificate of Baptism </div>

  <div class="bookref">
  <span class="field-label">Rok i numer w księdze chrztów</span><span class="user-data">{{ chrzest.rok }}/{{ chrzest.akt_nr }}</span><br></div>
  <table class="data-table">
  <td colspan="2" class="tiny" style="text-align: right">Annus et numerus libri baptisatorum / Year and number in the Register of Baptisms</td></table>


<table class="data-table">
  <tr>
    <td class="field-label" style="width:25%;">1. Imię i nazwisko</td><td><span class="user-data">{{ chrzest.ochrzczony.nazwisko }} {{ chrzest.ochrzczony.imie_pierwsze }}</span></td>
  </tr>
  <tr><td colspan="2" class="tiny">Nomen, cognomen / First and last name</td></tr>

  <tr>
    <td class="field-label">2. Imię i nazwisko ojca</td>
    <td>
      <div class="row-split">
        <div class="left">
          <span class="user-data">{{ chrzest.ojciec }}</span>
        </div>
        <div class="right">
          <span class="field-label">Wyznanie</span><span class="user-data">{% if chrzest.ojciec_wyznanie %}{{ chrzest.ojciec_wyznanie }}{% else %}&nbsp;{% endif %}</span>
          </div>
      </div>
    </td>
  </tr>
  <tr><td colspan="2" class="tiny">Nomen, cognomen patris / Father's name. &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    Confessio / Religion</td></tr>

  <tr>
    <td class="field-label">3. Imię i nazwisko matki</td>
    <td>
      <div class="row-split">
        <div class="left">
          <span class="user-data">
            {{ chrzest.matka }}
            {% if chrzest.nazwisko_matki_rodowe %} z domu {{ chrzest.nazwisko_matki_rodowe }}{% endif %}
          </span>
        </div>
        <div class="right">
          <span class="field-label">Wyznanie</span><span class="user-data">{% if chrzest.matka_wyznanie %}{{ chrzest.matka_wyznanie }}{% else %}&nbsp;{% endif %}</span>
          </div>
      </div>
    </td>
  </tr>
  <tr><td colspan="2" class="tiny">Nomen, cognomen matris / Mother's name &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Confessio / Religion</td></tr>

  <tr>
    <td class="field-label">4. Data i miejsce urodzenia</td>
    <td>
      <span class="user-data">
        {% if chrzest.data_urodzenia %}{{ chrzest.data_urodzenia }}{% elif chrzest.rok_urodzenia %}{{ chrzest.rok_urodzenia }}{% endif %}{% if chrzest.miejsce_urodzenia %} , {{ chrzest.miejsce_urodzenia }}{% endif %}
      </span>
    </td>
  </tr>
  <tr><td colspan="2" class="tiny">Dies et locus nativitatis / Date and place of birth</td></tr>

  <tr>
    <td class="field-label">5. Data i miejsce chrztu</td>
    <td>
      <span class="user-data">
        {% if chrzest.data_chrztu %}{{ chrzest.data_chrztu }}{% elif chrzest.rok_chrztu %}{{ chrzest.rok_chrztu }}{% endif %}{% if chrzest.miejsce_chrztu %} , {{ chrzest.miejsce_chrztu }}{% endif %}
      </span>
    </td>
  </tr>
  <tr><td colspan="2" class="tiny">Dies et locus baptismi / Date and place of baptism</td></tr>

  <tr>
    <td class="field-label">6. Data i parafia bierzmowania</td>
    <td>
      <span class="user-data">
        {% if bierzmowanie %}
          {% if bierzmowanie.data_bierzmowania %}{{ bierzmowanie.data_bierzmowania|date:"d.m.Y" }}{% elif bierzmowanie.rok %}{{ bierzmowanie.rok }}{% endif %}{% if bierzmowanie.parafia %}, {{ bierzmowanie.parafia.nazwa }}{% elif bierzmowanie.parafia_nazwa_reczna %} , {{ bierzmowanie.parafia_nazwa_reczna }}{% endif %}
        {% else %}—{% endif %}
      </span>
    </td>
  </tr>
  <tr><td colspan="2" class="tiny">Dies et parochia confirmationis / Date and parish of Confirmation</td></tr>

  <tr>
    <td class="field-label">7. Uwagi w księdze chrztów</td>
    <td>
      <span class="user-data">
        {% if http_request.GET.cel == 'uwagi_wew' %}
          {% if chrzest.uwagi_wew %}{{ chrzest.uwagi_wew|linebreaksbr }}{% endif %}
        
        {% elif http_request.GET.cel %}
          {{ http_request.GET.cel }}
        
        {% else %}
          &nbsp;
        {% endif %}
      </span>
    </td>
  </tr>
  <tr><td colspan="2" class.="tiny">Adnotationes in libro baptisatorum / Notes in the Register of Baptisms</td></tr>
</table>

<div class="footer-block">
    <div class="footer-left">
      <br>
      <span style="font-weight: 700;">Miejsce i data:</span>
      <span class="user-data">
        {% if chrzest.parafia %}{{ chrzest.parafia.miejscowosc }}, {% endif %}{{ today|date:"d.m.Y" }}
      </span>
      <div class="la">Locus et dies | The place and date</div>
    </div>
    
    <div class="footer-right">
      Potwierdzam zgodność z księgą chrztów
      <div class="la">Concordat cum libro baptisatorum</div>
      <div class="la">I confirm that the informations is in advance with the Register of Baptisms</div>
      <div class="signature">&nbsp;</div>
      Proboszcz | Parochus | Parish priest
    </div>
    <div class="footer-clear"></div>
  </div>
</div>
{% endblock %}