{% extends "base_panel.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-start flex-wrap gap-2 mb-3">

  <div>
    <h1 class="h5 mb-1">
      <span class="badge bg-primary-subtle text-primary border border-primary rounded-pill fw-normal px-2 py-1">
        {% if object %}Edycja{% else %}Nowa{% endif %}
      </span>
      <span class="fw-semibold">
        Bierzmowanie
      </span>
    </h1>

    {% if osoba %}
      <div class="text-muted small">
        Uzupełnij wpis bierzmowania: <strong>{{ osoba.nazwisko }} {{ osoba.imie_pierwsze }}</strong><br>
        

      </div>
    {% endif %}
  </div>

  <div class="d-flex flex-wrap gap-2 ms-auto">
    {% if osoba %}
      <a href="{% url 'osoba_szczegoly' osoba.pk %}" 
      class="btn btn-outline-secondary btn-sm">
        Powrót
      </a>
    {% else %}
      <a href="{% url 'bierzmowanie_lista' %}" 
      class="btn btn-outline-secondary btn-sm">
        Powrót
      </a>
    {% endif %}
  </div>
</div>

<form method="post" enctype="multipart/form-data" class="card shadow-sm">
  {% csrf_token %}

  <div class="card-body small">

    {% if form.non_field_errors %}
      <div class="alert alert-danger small">{{ form.non_field_errors }}</div>
    {% endif %}

    {# ================== OSOBA ================== #}
<div class="row g-3 mb-3">
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-start">
        <label class="form-label small fw-semibold text-muted mb-0">
          {{ form.osoba.label }}
        </label>

        <a href="{% url 'osoba_nowa' %}"
           target="_blank"
           class="btn btn-outline-primary btn-sm ms-2">
          + Nowa osoba
        </a>
      </div>

      {{ form.osoba }}
      {% if form.osoba.errors %}
        <div class="text-danger small">{{ form.osoba.errors }}</div>
      {% endif %}

      <div class="form-text small text-muted">
        Jeśli osoby nie ma na liście, kliknij „Nowa osoba”, dodaj ją w nowej karcie,
        zapisz, potem wróć tutaj.
      </div>

  
{# ---ROK / AKT /#}
    </div>
<!--
    <div class="col-md-4">
        <label class="form-label small fw-semibold text-muted">
          {{ form.rok.label }}
        </label>
        {{ form.rok }}
        {% if form.rok.errors %}
          <div class="text-danger small">{{ form.rok.errors }}</div>
        {% endif %}
      </div>
-->
      <div class="col-md-4">
        <label class="form-label small fw-semibold text-muted">
          {{ form.akt_nr.label }}
        </label>
        {{ form.akt_nr }}
        {% if form.akt_nr.errors %}
          <div class="text-danger small">{{ form.akt_nr.errors }}</div>
        {% endif %}
        <div class="form-text small">
          Numer aktu bierzmowania w danym roku, jeśli nie podasz, wypełni się automatycznie.
        </div>
      </div>

</div>
    {# ==================  DATA / MIEJSCE================== #}
    <div class="row g-3 mb-3">

      

      <div class="col-md-4">
        <label class="form-label small fw-semibold text-muted">
          {{ form.data_bierzmowania.label }}
        </label>
        {{ form.data_bierzmowania }}
        {% if form.data_bierzmowania.errors %}
          <div class="text-danger small">{{ form.data_bierzmowania.errors }}</div>
        {% endif %}
        {% if form.data_bierzmowania.help_text %}
          <div class="form-text small">{{ form.data_bierzmowania.help_text }}</div>
        {% endif %}
      </div>
   


    <div class="col-md-4">
      <label class="form-label small fw-semibold text-muted">
        {{ form.miejsce_bierzmowania.label }}
      </label>
      {{ form.miejsce_bierzmowania }}
      {% if form.miejsce_bierzmowania.errors %}
        <div class="text-danger small">{{ form.miejsce_bierzmowania.errors }}</div>
      {% endif %}
      <div class="form-text small text-muted">
        Miejsce bierzmowania.
      </div>
    </div>
  </div>

    <div class="row g-3 mb-3">
    {# ================== IMIĘ Z BIERZMOWANIA ================== #}
    <div class="col-md-4">
      <label class="form-label small fw-semibold text-muted">
        {{ form.imie_bierzmowania.label }}
      </label>
      {{ form.imie_bierzmowania }}
      {% if form.imie_bierzmowania.errors %}
        <div class="text-danger small">{{ form.imie_bierzmowania.errors }}</div>
      {% endif %}
      <div class="form-text small text-muted">
        Imię przyjęte w czasie bierzmowania.
      </div>
    </div>

    {# ================== ŚWIADEK ================== #}
    <div class="col-md-4">
      <label class="form-label small fw-semibold text-muted">
        {{ form.swiadek.label }}
      </label>
      {{ form.swiadek }}
      {% if form.swiadek.errors %}
        <div class="text-danger small">{{ form.swiadek.errors }}</div>
      {% endif %}
      <div class="form-text small text-muted">
        Imię i nazwisko świadka bierzmowania.
      </div>
    </div>

  



  <div class="row g-3 mb-3">
    {# ================== PARAFIA ================== #}
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-start">
        <label class="form-label small fw-semibold text-muted mb-0">
          Parafia bierzmowania
        </label>

        {# przycisk dodania nowej parafii do słownika, otwieramy w nowej karcie #}
        <a href="{% url 'slownik_parafia_nowa' %}"
           target="_blank"
           class="btn btn-outline-primary btn-sm ms-2">
          + Nowa parafia
        </a>
      </div>

      {# istniejąca parafia ze słownika #}
      {{ form.parafia }}
      {% if form.parafia.errors %}
        <div class="text-danger small">{{ form.parafia.errors }}</div>
      {% endif %}

      <div class="form-text small text-muted mb-2">
        Wybierz z listy parafii. Jeśli nie ma — dodaj nową parafię powyżej w nowej karcie,
        zapisz ją, a potem odśwież tę stronę.
      </div>
  </div>

    {# ================== SZAFARZ ================== #}
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-start">
        <label class="form-label small fw-semibold text-muted mb-0">
          Szafarz (udzielający)
        </label>

        {# przycisk dodania nowego duchownego #}
        <a href="{% url 'slownik_duchowny_nowy' %}"
           target="_blank"
           class="btn btn-outline-primary btn-sm ms-2">
          + Nowy szafarz
        </a>
      </div>

      {# lista duchownych #}
      {{ form.szafarz }}
      {% if form.szafarz.errors %}
        <div class="text-danger small">{{ form.szafarz.errors }}</div>
      {% endif %}

      <div class="form-text small text-muted mb-2">
        Wybierz z listy duchownego (np. biskupa / delegata).
      </div>
    </div>  
 </div> 



    {# ================== UWAGI ================== #}
    <div class="mb-3">
      <label class="form-label small fw-semibold text-muted">
        {{ form.uwagi_wew.label }}
      </label>
      {{ form.uwagi_wew }}
      {% if form.uwagi_wew.errors %}
        <div class="text-danger small">{{ form.uwagi_wew.errors }}</div>
      {% endif %}
    </div>

    {# --- 2. DODAJ POLE SKANU --- #}
    <div class="mb-3">
      <label class="form-label small fw-semibold text-muted">
        {{ form.skan_aktu.label }}
      </label>
      {{ form.skan_aktu }}
      {% if form.skan_aktu.errors %}
        <div class="text-danger small">{{ form.skan_aktu.errors }}</div>
      {% endif %}
    </div>

  </div> {# /card-body #}

 <div class="mt-4 d-flex gap-2">

    <button class="btn btn-primary btn-sm">
      Zapisz
    </button>

      {% if osoba %}
        <a href="{% url 'osoba_szczegoly' osoba.pk %}" 
        class="btn btn-outline-secondary btn-sm">
        Anuluj
      </a>
      {% else %}
        <a href="{% url 'bierzmowanie_lista' %}" 
        class="btn btn-outline-secondary btn-sm">
        Anuluj
      </a>
      {% endif %}
    
  </div>
</form>

{% endblock %}
