{% extends "base_panel.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-start mb-3">
  <h1 class="h5 mb-0">Bierzmowanie</h1>

  <div class="d-flex flex-wrap gap-2">
      <a href="{% url 'bierzmowanie_druk' bierzmowanie.pk %}" target="_blank" class="btn btn-outline-primary btn-sm">
      Drukuj
    </a>

    <a href="{% url 'bierzmowanie_edytuj' bierzmowanie.pk %}" class="btn btn-outline-secondary btn-sm">
      Edytuj
    </a>
    <a href="{% url 'bierzmowanie_usun' bierzmowanie.pk %}" class="btn btn-outline-danger btn-sm">
      Usuń
    </a>
    <a href="{% url 'bierzmowanie_lista' %}" class="btn btn-outline-secondary btn-sm">
      Powrót
    </a>
  </div>
</div>

<div class="card shadow-sm small">
  <div class="card-header fw-semibold">
    Dane bierzmowania
  </div>
  <div class="card-body">
    <p><strong>Osoba:</strong> {{ bierzmowanie.osoba.nazwisko }} {{ bierzmowanie.osoba.imie_pierwsze }}</p>

    <p><strong>Rok / akt:</strong>
      {{ bierzmowanie.rok|default:"brak" }} / {{ bierzmowanie.akt_nr|default:"–" }}
    </p>

    <p><strong>Data bierzmowania:</strong>
      {% if bierzmowanie.data_bierzmowania %}
        {{ bierzmowanie.data_bierzmowania }}
      {% else %}
        brak
      {% endif %}
    </p>

  <p><strong>Imię bierzmowania:</strong>
      {% if bierzmowanie.imie_bierzmowania %}
        {{ bierzmowanie.imie_bierzmowania }}
      {% else %}
        brak
      {% endif %}
    </p>

    <p><strong>Parafia:</strong>
  {% if bierzmowanie.parafia %}
    
    {{ bierzmowanie.parafia.nazwa }}
    
    {% if bierzmowanie.parafia.miejscowosc %}
      - {{ bierzmowanie.parafia.miejscowosc }}
    {% endif %}

  {% elif bierzmowanie.parafia_nazwa_reczna %}
    {{ bierzmowanie.parafia_nazwa_reczna }}
  {% else %}
    <span class="text-muted">—</span>
  {% endif %}
</p>

   <p><strong>Szafarz:</strong>
      {% if bierzmowanie.szafarz %}
        {{ bierzmowanie.szafarz }}
      {% elif bierzmowanie.szafarz_opis_reczny %}
        {{ bierzmowanie.szafarz_opis_reczny }}
      {% else %}
        <span class="text-muted">—</span>
      {% endif %}
    </p>

    <p><strong>Świadek:</strong> {{ bierzmowanie.swiadek|default:"brak" }}</p>

    <p><strong>Uwagi wewnętrzne:</strong><br>{{ bierzmowanie.uwagi_wew|default:"—" }}</p>

    <hr>
    <p class="mb-1"><strong>Załącznik (skan):</strong></p>
    {% if bierzmowanie.skan_aktu %}
      <a href="{{ bierzmowanie.skan_aktu.url }}" target="_blank" class="btn btn-outline-primary btn-sm">
        📄 Zobacz skan aktu
      </a>
    {% else %}
      <span class="text-muted">Brak załączonego pliku.</span>
    {% endif %}

  </div>
</div>

{% endblock %}
