{% extends "base_panel.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-start mb-3">
  <h1 class="h5 mb-0">Małżeństwo</h1>


    <div class="d-flex flex-wrap gap-2 ms-auto">
    <a href="{% url 'malzenstwo_pdf' malzenstwo.pk %}" target="_blank" class="btn btn-outline-secondary btn-sm">
    📄 Pobierz PDF (Zaświadczenie)
  </a>
    <a href="{% url 'malzenstwo_druk' malzenstwo.pk %}" target="_blank" class="btn btn-outline-primary btn-sm">Drukuj</a>
    <a href="{% url 'malzenstwo_edytuj' malzenstwo.pk %}" class="btn btn-outline-secondary btn-sm">Edytuj</a>
    <a href="{% url 'malzenstwo_usun' malzenstwo.pk %}" class="btn btn-outline-danger btn-sm">Usuń</a>
    <a href="{% url 'malzenstwo_lista' %}" class="btn btn-outline-secondary btn-sm">Powrót</a>
  </div>
</div>

<div class="card shadow-sm small">
  <div class="card-header fw-semibold">
    Dane małżeństwa
  </div>
  <div class="card-body">
    <p><strong>Małżonek A: </strong>
      {{ malzenstwo.malzonek_a.nazwisko }} {{ malzenstwo.malzonek_a.imie_pierwsze }}
    </p>

    <p><strong>Małżonek B: </strong>
      {{ malzenstwo.malzonek_b.nazwisko }} {{ malzenstwo.malzonek_b.imie_pierwsze }} z domu {{ malzenstwo.malzonek_b.nazwisko_rodowe }} 
    </p>

    <p><strong>Rok/akt: </strong>
      {{ malzenstwo.rok|default:"brak" }}/{{ malzenstwo.akt_nr|default:"–" }}
    </p>

    <p><strong>Parafia ślubu:</strong>
     {% if malzenstwo.parafia %}
    
    {{ malzenstwo.parafia.nazwa }}
    
    {% if malzenstwo.parafia.miejscowosc %}
      - {{ malzenstwo.parafia.miejscowosc }}
    {% endif %}

  {% elif malzenstwo.parafia_nazwa_reczna %}
    {{ malzenstwo.parafia_nazwa_reczna }}
  {% else %}
    <span class="text-muted">—</span>
  {% endif %}
    </p>

    <p><strong>Świadek urzędowy/asystujący: </strong>
      {% if malzenstwo.swiadek_urzedowy %}
        {{ malzenstwo.swiadek_urzedowy }}
      {% elif malzenstwo.swiadek_urzedowy_opis_reczny %}
        {{ malzenstwo.swiadek_urzedowy_opis_reczny }}
      {% else %}
        <span class="text-muted">—</span>
      {% endif %}
    </p>

    <p><strong>Świadkowie:</strong>
       {{ malzenstwo.swiadek_a|default:"—" }} / 
      {{ malzenstwo.swiadek_b|default:"—" }}
    </p>

    <p><strong>Uwagi wewnętrzne: </strong><br>{{ malzenstwo.uwagi_wew|default:"—" }}</p>
  </div>

  {# --- SEKCJA ZAŁĄCZNIKA --- #}
  <div class="col-md-12 mt-3">
    <div class="card shadow-sm border-0">
      <div class="card-header fw-semibold">
        Załączniki
      </div>
      <div class="card-body small">
        {% if malzenstwo.skan_aktu %}
          <a href="{{ malzenstwo.skan_aktu.url }}" target="_blank" class="btn btn-outline-primary btn-sm">
            📄 Zobacz skan aktu/protokołu
          </a>
        {% else %}
          <span class="text-muted">Brak załączonego skanu.</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}